<h3>If you are a doctor, you can see a list of registered patients:</h3>
<% @users.each do |t| %>
  <% if t.role=='doctor'%>
    <div class="jumbotron">
      <%= "#{t.surname} #{t.name.chars.first} #{t.patronymic.chars.first}" %> - <%= "#{t.category.category}" %>
      <br>
      <%= link_to "More details", user_path(t), :class => 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>
